@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  position: relative;
  text-decoration: none;
  color: black;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0;
  height: 3px;
  background-color: #0057d1;
  transition: width 0.5s ease-in;
}
.link.active::after {
  width: 100%;
}
